/* common */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}

h1 {
  font-weight: 700;
}

.container > h1 {
  font-size: 1.2rem;
  margin: 0 auto;
}

.container > p {
  font-size: 1.2rem;
  margin-top: 1%;
  margin-bottom: 5%;
  text-align: center;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.5;
}

/* header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
}

header li a {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}

header li a i {
  font-size: 22px;
}

header li + li {
  margin-left: 10px;
}

header form {
  display: none;
}

header input,
header button {
  all: unset;
}

header input {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 300px;
}

header button {
  cursor: pointer;
}

/* hero */

.hero {
  height: 230px;
}

.hero img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.hero img.current {
  opacity: 1;
}

/* products */
.products .container {
  margin: 0 16px;
}

.products {
  padding: 5% 0;
}

.products ul {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.products li {
  width: calc((100% - 16px) / 2);
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.products li img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.products li h2 {
  display: block;
  width: 100%;
  height: 28px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  padding: 20px;
}

.products li p {
  display: block;
  width: 100%;
  height: 58px;
  margin: 0 0 8px 0;
  font-size: 16px;
}

.products li a {
  display: block;
}

.products .more {
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #333;
  text-align: center;
  margin: 32px auto 0;
}

footer {
  background: #4c4948;
  padding: 16px 0;
  color: #eee;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

footer small {
  font-size: 16px;
}

footer li i {
  font-size: 24px;
}

footer ul {
  display: flex;
}

footer li + li {
  margin-left: 10px;
}

/* middle screen */

@media (min-width: 600px) {
  .products li {
    width: calc((100% - 16px - 16px) / 3);
  }

  .container > h1 {
    font-size: 2rem;
  }

  header .container h1 {
    margin-left: 10%;
  }
}

/* large screen */

@media (min-width: 800px) {
  .products .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
  }

  header form {
    display: block;
  }

  .hero {
    height: 400px;
  }

  .hero img {
    height: 400px;
  }

  header .container h1 {
    margin-left: 19%;
  }
}

@media (min-width: 1440px) {
  header .container h1 {
    margin-left: 28%;
  }
}

@media (min-width: 2560px) {
  header .container h1 {
    margin-left: 37%;
  }
}
